header {
    /* width: 100%; */
    background-color: var(--main-bg-color);
    padding: 30px 40px;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

header .logo {
    width: 130px;
    min-width: 130px;
}

header .logo img {
    width: 100%;
}

nav ul.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 500;

}
nav ul.nav-links .active{
    color: var(--main-text-color);
}


nav ul.nav-links a:hover {
    color: var(--main-text-color);
}