header {
    width: 100%;
    /* background-color: var(--main-bg-color); */
    padding: 30px 40px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 90px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 100;
}

header .logo {
    width: 110px;
    min-width: 110px;
}

header .logo img {
    width: 100%;
}

header .menu-toggle {
    display: none;
    cursor: pointer;
}


nav ul.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 500;
    gap: 2.5rem;
}

nav ul.nav-links .active {
    color: var(--main-text-color);
}


nav ul.nav-links a:hover {
    color: var(--main-text-color);
}


@media (max-width: 950px) {
    header {
        position: fixed;
        width: 100%;
        height: 70;
    }

    header .menu-toggle {
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
    }

    header .menu-toggle .icon {
        font-size: 2rem;
    }


    header .logo {
        width: 100px;
        min-width: 120px;
    }

    header nav {
        position: fixed;
        z-index: 100;
        top: 90px;
        left: -400px;
        margin: 0;
        background-color: var(--main-bg-color);
        padding: 12px;
        transition: transform .2s ease-in-out, opacity .2s ease-in-out;
        width: 340px;
        height: 100%;
        box-shadow: 2px 100px 90px black;
    }

    header nav.shown {
        transform: translateX(400px);
    }

    nav ul.nav-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
    }
}