
main.landing {
    padding: 0;
}

main.landing .story-header {
    padding: 0;
    margin: 0;
    min-height: 70vh;
    background-image: url('/assets/landingpage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    transform: translateY(-90px);
    margin-bottom: -90px;
    border-bottom: 8px solid #222;
    display: flex;
    align-items: stretch;
    justify-content: stretch;

}

main.landing .story-header .content {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.85) 100%);
    padding-top: 190px;
    padding: 200px 30px 120px 30px;
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
}

main.landing .story-header .subtilte {
    text-align: center;
    max-width: 640px;
    margin: 0.5em auto;
}

main.landing h1 {
    font-size: 3.125rem;
    word-wrap: break-word;
}

main.landing h2,
main.landing h3 {
    font-weight: 400;
    font-size: 1.5rem;
}

main.landing .email-form {
    /* margin: auto; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    /* background-color: burlywood; */

}

main.landing .email-form h3 {
    text-align: center;
}

main.landing .email-form input,
main.landing .email-form button {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

main.landing .email-form input {
    max-width: 450px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    color: #000;
    border: solid 1px #8c8c8c;
    padding: 0 16px;
    height: 60px;
}


main.landing .email-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--primary-color);
    border: solid 1px #333;
    height: 60px;
    padding: 0 20px;
    cursor: pointer;
}

/**************************** stories **********************/


main.landing .story-card {
    border-bottom: 8px solid #222;
}

main.landing .story-card:nth-child(last) {
    border-bottom: none
}

main.landing .story-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    padding: 100px 30px;
}

.story-card-text {
    width: 48%;
    min-width: 200px;
    max-width: 590px;
}

main.landing .story-card.faq-card .story-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 100px 30px;
    max-width: 990px;
    margin: auto;
}

main.landing .story-card.faq-card .story-card-text {
    width: 90%;
    min-width: 200px;
    max-width: 90%;
}

main.landing .story-card.faq-card .story-card-text h1 {
    text-align: center;
}


main.landing .story-card.faq-card .email-form {
    width: 90%;
}





main.landing .story-card-container h1 {
    margin-top: 0;
}

main.landing .story-card-image {
    width: 48%;
    max-width: 450px;
    min-width: 200px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.landing .story-card-image .story-card-image-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



main.landing .story-card-image-container img {

    width: 100%;
    z-index: 2;
}

main.landing .story-card-image-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

main.landing .story-card:nth-child(4) .story-card-image-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -86%);
}

main.landing .faq-card .faq-list {
    list-style: none;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

main.landing .faq-card .faq-list li {
    margin-bottom: 8px;
}


main.landing .faq-card .faq-list button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding: 0.8em 1.2em 0.8em 1.2em;
    font-weight: 400;
    position: relative;
    width: 100%;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #333;
}

main.landing .faq-card .faq-list .faq-answer {
    border-top: 2px solid #222;
    background-color: #333;

    overflow: hidden;
}

main.landing .faq-card .faq-list .faq-answer span {
    padding: 0.8em 1.2em 0.8em 1.2em;
    display: block;
}

.faq-list .faq-answer.closed {
    padding: 0;
    max-height: 0;

    margin: 0;
    transition: max-height .3s ease-in-out;
}

.faq-list .faq-answer.opened {
    max-height: 1000px;

    transition: max-height .3s ease-in-out;

}

@media only screen and (max-width: 940px) {
    main.landing .story-header h1 {
        font-size: 2.5rem;
    }

    main.landing .email-form {
        gap: 20px;
    }

    main.landing .email-form button {
        font-size: 1.1rem;
        color: #fff;
        background-color: var(--primary-color);
        border: solid 1px #333;
        height: 44px;
        padding: 0 20px;
        cursor: pointer;
    }


    main.landing .email-form {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

    }


    /* stories */


    main.landing .story-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        width: 100%;
    }

    main.landing .story-card-container {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
        margin: auto;
        width: 100%;
    }


    main.landing .story-card-image .story-card-image-container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    main.landing .story-card:nth-child(2n+1) .story-card-container {
        flex-direction: column-reverse;

    }

    main.landing .story-card-container h1 {
        margin-top: 0;
        font-size: 2.1rem;
    }

    main.landing .story-card-container h2 {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .story-card-text {
        width: 100%;
        text-align: center;
    }

    main.landing .story-card-image {
        width: 150%;
        /* max-width: 450px; */
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    main.landing .story-card-image .story-card-image-container {
        width: 130vw;
    }


}